body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#userContainer {
    margin-top: 20px;
}

.userCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    border-radius: 5px;
    background-color: #f2f2f2;
}